.container{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-family: var(--font-valorant);
    color: var(--valorant-red-light);
    font-size: 20px;

    padding: 30px;

    .image{
        position: relative;
        width: 100%;
        min-height: 300px;
        max-height: 50vh;

        margin-top: 30px;

        img{
            object-fit: contain;
        }
    }

}